@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

html {
    font-family: Comfortaa;
    margin: auto;
    text-align: center;
}

body {
    background-color: rgba(255, 202, 3, 0.35);
}

h1 {
    color: #F90716;
    font-family: 'Allura', cursive;
    font-size: 7.5rem;
    line-height: 2;
}

h2 {
    color: #FA1510;
    font-size: 3rem;
    font-weight: normal;
}

h3 {
    color: #FF5403;
    font-size: 2rem;
}

hr {
    border-color: grey;
    border-style: dashed none none none;
    border-width: 5px;
    width: 5%;
}

a:link {
    color: #9D0B0B;
}

a:visited {
    color: #DA2D2D;
}

a:hover {
    color: #EB8242;
}

a:active {
    color: #F6DA63;
}

.top-container {
    height: 100vh;
}

.top-container h1 {
    margin: 0;
    padding-top: 150px;
}

.top-container img {
    height: 256px;
    width: 256px;
}

.middle-container .about-me {
    margin: auto;
    text-align: justify;
    width: 50%;
}

.middle-container .about-me .about-me-row {
    line-height: 2;
    margin: 100px auto;
}

.middle-container .about-me .about-me-row .milo {
    float: left;
    height: 25%;
    margin-right: 20px;
    width: 25%;
}

.middle-container .about-me ul {
    display: table;
    margin: 0 auto;
}

.middle-container .about-me .table {
    margin: 0 auto;
}


.middle-container .about-me .about-me-row table, th, td {
    border: 3px solid;
    border-collapse: collapse;
}

.middle-container .skills {
    margin: 100px auto 0 auto;
    text-align: justify;
    width: 50%;
}

.middle-container .skills .skill-row {
    line-height: 2;
    margin: 100px auto;
}

.middle-container .skills .skill-row .frontend-img {
    float: left;
    margin: 0 20px 0 0;
    height: 25%;
    width: 25%;
}

.middle-container .skills .skill-row .error-img {
    float: right;
    margin: 0 0 0 20px;
    height: 25%;
    width: 25%;
}

.middle-container .contact-me {
    margin: 175px auto;
    text-align: justify;
    width: 50%;
}

.middle-container .contact-me a {
    font-size: 2rem;
}