body {
    background-color: rgba(255, 202, 3, 0.35);
}

h1 {
    color: #F90716;
}

h3 {
    color: #FF5403;
}

hr {
    border-color: grey;
    border-style: dashed none none none;
    border-width: 5px;
    width: 5%;
}

a:link {
    color: #9D0B0B;
}

a:visited {
    color: #DA2D2D;
}

a:hover {
    color: #EB8242;
}

a:active {
    color: #F6DA63;
}



.milo {
    height: 200px;
    width: 200px;
}

#heading {
    color: #F90716;
}